[submodule "logseq-mcp"]
	path = logseq-mcp
	url = https://github.com/liuchzzyy/logseq-mcp.git
[submodule "paper-feedder-mcp"]
	path = paper-feedder-mcp
	url = https://github.com/liuchzzyy/paper-feedder-mcp.git
[submodule "zotero-logseq-agent"]
	path = zotero-logseq-agent
	url = https://github.com/liuchzzyy/zotero-logseq-agent.git
[submodule "zotero-mcp"]
	path = zotero-mcp
	url = https://github.com/liuchzzyy/zotero-mcp.git
